/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

pre html, pre body, pre div, pre span, pre applet,
pre object, pre iframe, pre h1, pre h2, pre h3,
pre h4, pre h5, pre h6, pre p, pre blockquote, pre,
pre a, pre abbr, pre acronym, pre address, pre big, 
pre cite, pre code, pre del, pre dfn, pre em, pre img,
pre ins, pre kbd, pre q, pre s, pre samp,
pre small, pre strike, pre strong, pre sub, pre sup,
pre tt, pre var, pre b, pre u, pre i, pre center,
pre dl, pre dt, pre dd, pre ol, pre ul, pre li,
pre fieldset, pre form, pre label, pre legend,
pre table, pre caption, pre tbody, pre tfoot, 
pre thead, pre tr, pre th, pre td,
pre article, pre aside, pre canvas, pre details,
pre embed, pre figure, pre figcaption, pre footer, 
pre header, pre hgroup, pre menu, pre nav, pre output,
pre ruby, pre section, pre summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
pre article, pre aside, pre details, pre figcaption, pre figure, 
pre footer, pre header, pre hgroup, pre menu, pre nav, pre section {
	display: block;
}
pre body {
	line-height: 1;
}
pre ol, pre ul {
	list-style: none;
}
pre blockquote, pre q {
	quotes: none;
}
pre blockquote:before, pre blockquote:after,
pre q:before, pre q:after {
	content: '';
	content: none;
}
pre table {
	border-collapse: collapse;
	border-spacing: 0;
}
.prettyprint ol,
.prettyprint ul {
	list-style: none;
}
.prettyprint ol.linenums {
	list-style: decimal outside;
	padding-left: 47px;
	color:#AFAFAF;
	font-size:12px;
}
.prettyprint ol.linenums li {
	padding-left: 15px;
	border-left:3px #6CE26C solid;
}
.prettyprint li > * {
	font-size:14px;
}
.prettyprint {
	border: 5px solid #DDD;
	padding: 7px 0 5px;
	font-size: 14px;
	white-space: pre;
	overflow: auto;
	max-height: 500px;
	width: 100%;
	display: block;
}
.prettyprint ol, .prettyprint ul {
	padding: 5px 0;
}

.prettyprint li.L0,
.prettyprint li.L1,
.prettyprint li.L2,
.prettyprint li.L3,
.prettyprint li.L4,
.prettyprint li.L5,
.prettyprint li.L6,
.prettyprint li.L7,
.prettyprint li.L8,
.prettyprint li.L9 {
	list-style:inherit;
	background:none;
}

.prettyprint.alternate 
.prettyprint.alternate li.L1, 
.prettyprint.alternate li.L3, 
.prettyprint.alternate li.L5, 
.prettyprint.alternate li.L7, 
.prettyprint.alternate li.L9 {
	background:#F5F5F5;
}

.hckrsnippet > span {
	display: inline-block;
	padding: 2px;
	background: #eee;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.hckrsnippet > span:hover {
	background: #ddd;
	cursor: pointer;
	text-decoration: underline;
}
.hckrsnippet {
       font-size: 12px;
}       
.hckrSaving {
	position: fixed;
	width: 100px;
	height: 10px;
	top: 20px;
	right: 20px;
	background: lightgrey;
	vertical-align: middle;
	padding: 50px;
	color: black;
	-webkit-border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px #333;
}
