<h2>Supafly Snippets</h2>

<% @snippets.each do |s| %>
  <li><%= link_to s.title, s %></li>
<% end %>

<h2>Ballin Articles</h2>

<% @articles.each do |a| %>
  <li><%= link_to a.title, a %></li>
<% end %>
