<h2>Supafly Snippets</h2>

<div class="snippets">
<%= render_cell :items, :list, :items => @snippets %>
</div>

<h2>Ballin Articles</h2>

<div class="articles">
<%= render_cell :items, :list, :items => @articles %>
</div>