body {
	//background: #fdf6e3;
	background: $grayLighter;
}

.container {
	margin-top: 1em;
	margin-bottom: 1em;
}

.content {
	background: #fff;
	@include border-radius(5px);
	//border: 1px solid #eee8d5;
	border: 1px solid #ddd;
}

.item {
	list-style-type: none;
	padding: 10px;
}