body {
	//background: #fdf6e3;
	background: $grayLighter;
}

.container {
	margin-top: 1em;
	margin-bottom: 1em;
}

.content {
	background: #fff;
	@include border-radius(5px);
	border: 1px solid #ddd;
	margin-bottom: 2em;
}

.item {
	list-style-type: none;
	padding: 10px;
}

.content-tag {
	display: inline-block;
	background: #839496;
	padding: 2px 5px;
	color: #fff;
	@include border-radius(5px);
	
	a {
		color: #fff;
		text-decoration: none;
	}
}