body {
	//background: #fdf6e3;
	background: $grayLighter;
}

.container {
	margin-top: 1em;
	margin-bottom: 1em;
}

.content {
	background: #fff;
	@include border-radius(5px);
	border: 1px solid #ddd;
	margin-bottom: 2em;
}

.item {
	list-style-type: none;
	padding: 10px;
}

.content-tag a {
	$tag-bg: #839496;
	
	display: inline-block;
	background: $tag-bg;
	color: #fff;
	text-decoration: none;

	padding: 2px 5px;
	@include border-radius(5px);
	
	&:hover {
		background: darken($tag-bg, 15%);
	}
}